<p id="notice"><%= notice %></p>

<h1 class="text-center">Listing Repositories</h1>

<% @repositories.each do |repository| %>
    <div class="col-lg-3">
      <div class="contact-box center-version">

        <a href="repositories">


          <h3 class="m-b-xs"><strong><%= repository.name %></strong></h3>

          <div class="font-bold"><%= repository.description %></div>
          <p class="m-t-md">
            <strong>Tags</strong><br>

          </p>

        </a>
          <div class="contact-box-footer">
                 <%= link_to repository, class: 'btn btn-default' do %>
                 <i class = 'fa fa-view'>Show</i>
                 <% end %>
          </div>
          <div class="contact-box-footer">
                 <%= link_to repositories_repositories_path(repository), class: 'btn btn-default' do %>
                 <i class = 'fa fa-view'>Purch</i>
                 <% end %>
          </div>
          
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
      </div>
    </div>
<% end %>
