<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h1><b>Repository / <%= @repository.name %></b></h1>
                </div>
</div>
<p id="notice"><%= notice %></p>
<div class="wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Your Github Profile Details</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>

<div class="ibox-content">
<table class="table table-hover">
<tr>
  <td><strong>Repo:</strong></td>
  <td><%= @repository.repo_id %></td>
</tr>
<tr>
  <td><strong>Name:</strong></td>
  <td><%= @repository.name %></td>
</tr>
<tr>
  <td><strong>Full name:</strong></td>
  <td><%= @repository.full_name %></td>
</tr>
<tr>
  <td><strong>Github profile nickname:</strong></td>
  <td><%= @repository.github_profile_nickname %></td>
</tr>
<tr>
  <td><strong>Html url:</strong></td>
  <td><%= @repository.html_url %></td>
</tr>
<tr>
  <td><strong>Description:</strong></td>
  <td><%= @repository.description %></td>
</tr>
<tr>
  <td><strong>Fork:</strong></td>
  <td><%= @repository.fork %></td>
</tr>
<tr>
  <td><strong>Crated at:</strong></td>
  <td><%= @repository.crated_at %></td>
</tr>
  <td><strong>Git url:</strong></td>
  <td><%= @repository.git_url %></td>
</tr>
<tr>
  <td><strong>Ssh url:</strong></td>
  <td><%= @repository.ssh_url %></td>
</tr>
<tr>
  <td><strong>Clone url:</strong></td>
  <td><%= @repository.clone_url %></td>
</tr>
<tr>
  <td><strong>Watchers count:</strong></td>
  <td><%= @repository.watchers_count %></td>
</tr>
<tr>
  <td><strong>Language:</strong></td>
  <td><%= @repository.language %></td>
</tr>
<tr>
  <td><strong>Has issues:</strong></td>
  <td><%= @repository.has_issues %></td>
</tr>
<tr>
  <td><strong>Has downloads:</strong></td>
  <td><%= @repository.has_downloads %></td>
</tr>
<tr>
  <td><strong>Has wiki:</strong></td>
  <td><%= @repository.has_wiki %></td>
</tr>
<tr>
  <td><strong>Forks count:</strong></td>
  <td><%= @repository.forks_count %></td>
</tr>
<tr>
  <td><strong>Open issues count:</strong></td>
  <td><%= @repository.open_issues_count %></td>
</tr>
<tr>
  <td><strong>Open issues:</strong></td>
  <td><%= @repository.open_issues %></td>
</tr>
<tr>
  <td><strong>Watchers:</strong></td>
  <td><%= @repository.watchers %></td>
</tr>
<tr>
   <td><strong>Code File:</strong></td>
   <td><%= link_to 'Download', @repository.codezip.url, class: 'btn btn-primary' %></td>    
<!-- <td><%= @repository.codezip %></td>  -->
</tr>
<tr>
  <td><strong>Purchase Amount:</strong></td>
  <td><%= @repository.amount %></td>
</tr>
<tr>
  <td>Tags:</td>
  <td><%= raw @repository.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
</tr>
<tr>
  <td>Categories:</td>
  <td><%= @repository.categories.map(&:name).sort.join(", ") %></td>
</tr>
</table>

<%= link_to 'Edit', edit_repository_path(@repository), class: 'btn btn-primary' %>
<%= link_to 'Back', repositories_path, class: 'btn btn-white' %>
</div>
</div>
</div>
</div>

