 <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h1><b>Article / <%= @creater.name %> /<%= @article.title %></b></h1>
                </div>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
    <%= @article.tag_list do |tag| %>
    <%= link_to do %>
                       <button class="btn btn-white"><%= tag %></button>
                      <% end %>
                                <% end %>
                                
                            </div>
                            <div class="text-center article-title">
                            <i class="fa fa-clock-o"></i><span class="text-muted"> <%= @article.created_at.to_formatted_s(:short)   %></span>

                            <h1><b><%= @article.title %><% @creater.name %></b></h1> 
                            <p><% @creater.name %></p>
                            </div>

  <%= markdown @article.body %>
</p>
<%= link_to like_article_path(@article), method: :put do %>
<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
<% end %>&nbsp;
<%= link_to dislike_article_path(@article), method: :put do %>
<i class="fa fa-thumbs-o-down"></i>
<% end %>
<strong> &nbsp;&nbsp;<%= @article.score %></strong><br>
<% if current_user.github_profile.id == @article.github_profile_id %>
<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-white btn-xs' %>
<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
<%= link_to 'Back', articles_path, class: 'btn btn-white btn-xs' %>


<% else %> 
<%= link_to 'Back', articles_path, class: 'btn btn-white btn-xs' %>
<% end %><br>&nbsp;
<%= social_share_button_tag(@article.title) %>
<%= commontator_thread(@article) %>
</div>
</div>
</div>
</div>