<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h1><b>DashBoard</b></h1>
                </div>
</div>
<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content">

              <div class="wrapper wrapper-content animated fadeInRight">


            <div class="col-lg-3">
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-gratipay fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Following</span>
                            <h2 class="font-bold"><%= current_user.github_profile.following %></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-thumbs-o-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Followers</span>
                            <h2 class="font-bold"><%= current_user.github_profile.followers %></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Public Rrepository </span>
                            <h2 class="font-bold"><%= current_user.github_profile.public_repo %></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Public Gists </span>
                            <h2 class="font-bold"><%= current_user.github_profile.public_gists %></h2>
                        </div>
                    </div>
                </div>
            </div>

<% count=0%>
      <% @pocs.each do |repo| %>
          <% count +=1 %>
         <%= open_row count %>

            <div class="col-lg-3">
                <div class="contact-box center-version">

                    <a href="repositories">


                        <h3 class="m-b-xs"><strong><%= truncate(repo[:name].capitalize, length: 23) %></strong></h3>

                        <div class="font-bold"><%= truncate(repo[:description].capitalize, length: 50) %></div>
                        <p class="m-t-md">
                            <strong>Tags</strong><br>
                           <i class="fa fa-eye"></i> Watchers: <%= repo[:watchers] %><br>

                            <i class="fa fa-code-fork"></i> Forks: <%= repo[:forks]%><br>
                            <i class="fa fa-star"></i> Stargazers: <%= repo[:stargazers_count] %>
                        </p>

                    </a>                     <div class="contact-box-footer">

                                             <%= link_to new_repository_path(id_param: repo[:id],name_param: repo[:name], fullname_param: repo[:full_name], github_profile_nickname_param: repo[:nickname] , html_url_param: repo[:html_url], description_param: repo[:description], fork_param: repo[:fork], crated_at_param: repo[:crated_at], git_url_param: repo[:git_url], ssh_url_param: repo[:ssh_url], clone_url_param: repo[:clone_url], watchers_count_param: repo[:watchers_count], language_param: repo[:language], has_issues_param: repo[:has_issues], has_downloads_param: repo[:has_downloads], has_wiki_param: repo[:has_wiki], forks_count_param: repo[:forks_count],open_issues_count_param: repo[:open_issues_count], open_issues_param: repo[:open_issues_param], watchers_param: repo[:watchers] ),
class: "btn btn-primary" do %>
<i class='fa fa-floppy-o'> Save</i>
<% end %>
 </div>
                 </div>
</div>

            <%= close_row count %>
    <% end %>
    <%= will_paginate @pocs, class: 'apple_pagination' %>
    </div>
    </div>
    </div>
    </div>
    