<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content">

              <div class="wrapper wrapper-content animated fadeInCenter">


            <div class="col-lg-3">
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-gratipay fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Following</span>
                            <h2 class="font-bold"><%= current_user.github_profile.following %></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-thumbs-o-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Followers</span>
                            <h2 class="font-bold"><%= current_user.github_profile.followers %></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Public Rrepository </span>
                            <h2 class="font-bold"><%= current_user.github_profile.public_repo %></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-code fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Public Gists </span>
                            <h2 class="font-bold"><%= current_user.github_profile.public_gists %></h2>
                        </div>
                    </div>
                </div>
            </div>
<% count=0%>
      <% @repositories.each do |repo| %>
          <% count +=1 %>
         <%= open_row count %>

            <div class="col-lg-3">
                <div class="contact-box center-version">

                    <a href="profile.html">

                        <h3 class="m-b-xs"><strong><%= repo[:name].capitalize %></strong></h3>

                        <div class="font-bold"><%= repo[:description].capitalize %></div>
                        <p class="m-t-md">
                            <strong>Tags</strong><br>
                           <i class="fa fa-eye"></i> Watchers: <%= repo[:watchers] %><br>

                            <i class="fa fa-code-fork"></i> Forks: <%= repo[:forks]%><br>
                            <i class="fa fa-star"></i> Stargazers: <%= repo[:stargazers_count] %>
                        </p>

                    </a>                     <div class="contact-box-footer">                         <%= link_to
'Save', new_repository_path, class: "btn btn-primary" %>                             <a class="btn btn-primary"><i
class="fa fa-floppy-o"></i> Save</a>                         <%= button_to "Create", { :controller =>
"repositories",:action => "create" }, remote: true, form:{ "data-type" => "json" }, :id => <% repo[:id] %>, :name =><%
repo[:name] %>, :full_name => <% repo[:full_name] %>, :github_profile_nickname => current_user.github_profile.nickname,
:html_url => <% repo[:html_url] %>, :description => <% repo[:description] %>, :fork => <% repo[:fork] %> :crated_at =>
<% repo[:created_at] %>, :git_url => repo[:git_url], :ssh_url => repo[:ssh_url], :clone_url => repo[:clone_url]
:watchers_count => repo[:watchers_count], :language => repo[:language], :has_issues => repo[:has_issues], :has_downloads
=> repo[:has_downloads], :has_wiki => repo[:has_wiki], :forks_count => repo[:forks_count], :open_issues_count =>
repo[:open_issues_count], :open_issues => repo[:open_issues], :watchers => repo[:watchers], {:method=> :post} } %>


                    </div>
                </div>
                </div>

            <%= close_row count %>
    <% end %>