<h1 class="text-center">My Repositories</h1>
<% count=0%>
<% @repos.each do |repository| %>
<% count +=1 %>
         <%= open_row count %>
    <div class="col-lg-3">
      <div class="contact-box center-version">

        <a href="repositories">


          <h3 class="m-b-xs"><strong><%= truncate(repository.name, length: 23) %></strong></h3>

          <div class="font-bold"><%= truncate(repository.description, length: 45) %></div>
          <p class="m-t-md">
            <strong>Tags</strong><br>

          </p>

        </a>
        <div class="contact-box-footer">
          <%= link_to repository, class: 'btn btn-default' do %>
                 <i class = 'fa fa-view'>Show</i>
                 <% end %>
                 <%= link_to repository, method: :delete, controller: :welcome, action: :mypocs, class: 'btn btn-danger' do %>
                 <i class="fa fa-view"> Delete</i>
                 <% end %>
        </div>
      </div>
    </div>
    <%= close_row count %>
<% end %>

<%= will_paginate @repos, class: 'apple_pagination' %>
<h1> 1</h1>