<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h1><b>Profile</b></h1>
                </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                            <div class="ibox-tools">
                            
                                <%= link_to "<i class='fa fa-pencil-square-o fa-2x'></i>".html_safe, edit_github_profile_path(current_user.github_profile.id) %>
                                    
                                
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                             <center>   
                               <img src="<%= current_user.github_profile.image %>", class="img-responsive"></center>
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong><%=  current_user.github_profile.name %></strong></h4>
                                <p><i class="fa fa-map-marker fa-2x"></i> <%= current_user.github_profile.location %></p>
                                <h5>
                                    About me
                                </h5>
                                <p>
                                   <%= current_user.github_profile.bio %>
                                </p>
                                 <% link_to 'edit', edit_github_profile_path(current_user.github_profile.id), class: "btn-primary" %>
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <span><i class="fa fa-calendar-check-o fa-2x"></i></span>
                                        <h5><strong><%= Date.parse current_user.github_profile.member_since %></strong> Joined</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-gratipay fa-2x"></i>
                                        <h5><strong><%= current_user.github_profile.following %></strong> Following</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-thumbs-o-up fa-2x"></i>
                                        <h5><strong> <%= current_user.github_profile.followers %></strong> Followers</h5>
                                    </div>
                                </div>
                                
                            </div>
                    </div>
                </div>
            </div>
             <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>My Pocs</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">
                                    <% @repositories.each do |repository| %>
                                    <div class="feed-element">
                                        <h3><strong><%= repository.name %></strong></h3>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy"><%= repository.language %></small>
                                            <p><%= repository.description %></p>
                                            <div class="actions">
                                            <%= link_to repository, class: 'btn btn-xs btn-white' do %>
                                            <i class = 'fa fa-eye'> Show</i>
                                            <% end %>
                                            <%= link_to edit_repository_path(repository.id), class: 'btn btn-xs btn-white' do %>
                                            <i class = 'fa fa-pencil'> edit</i>
                                            <% end %>
                                              <%= link_to repository, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' do %>
                                              <i class = 'fa fa-trash-o'> Remove</i>
                                                  <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                            </div>

               
        </div>
        </div>
        </div>

</div>
</div>
</div>