<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                      <span>
                        <img src="<%= current_user.github_profile.image %>" width="80px", class="img-circle", alt="profile picture">
                      </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= current_user.github_profile.nickname %></strong>
                             </span> <span class="text-muted text-xs block"><%= current_user.github_profile.location %><b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><%= link_to 'Home', root_path %></li>
                            <li><%= link_to 'Profile', welcome_profile_path %></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                         Code-<i class="fa fa-home"></i>
                    </div>
                </li>
                
                <li><%= link_to root_path do %>
                      <i class="fa fa-th-large"> <span class="nav-label"> Dashboard</span></i>
                      <% end %>
                      </li>
                <li>
                      <%= link_to new_repository_path do %>
                          <i class="fa fa-cogs" aria-hidden="true"></i> <span class="nav-label"> ADD POD</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to welcome_mypocs_path do %>
                         <i class="fa fa-cubes" aria-hidden="true"></i><span class="nav-label"> MY POC</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to repositories_path do %>
                          <i class="fa fa-sellsy" aria-hidden="true"></i><span class="nav-label"> ALL POC</span>
                      <% end %>
                    </li>
                    <li><%= link_to articles_path do %>
                        <i class="fa fa-list" aria-hidden="true"></i><span class="nav-label"> List of Articles</span>
                        <% end %>
                    </li>
                    <li><%= link_to new_article_path do %>
                        <i class="fa fa-plus-square" aria-hidden="true"></i><span class="nav-label">New Article</span>
                        <% end %>
                    </li>
                </li>             
            </ul>
        </div>
    </nav>