<!DOCTYPE html>
<html>
<head>
  <title>CodeVilla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>

</head>
<body class="">
<div id="wrapper">
	<%= render 'layouts/navigation' %>
	<div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
          <%= render 'layouts/header' %>       
  	      <%= yield %>
  	      <%= render 'layouts/footer'  %>
	      </div>
  </div>
</div>
</body>
</html>